<div class="container-fluid" style="background-color: #d5e8db;">
  <div class="row p-1">
    <%= image_tag 'door1.png', :size => '180x280'%>
      <%= form_with scope: :search, url: places_path, method: :get, local: true  do |v| %>
        <p class="form-group field">
          <%= v.label :places_id, 'Place', class: "control-label" %>
          <%= v.collection_select :places_id, @places, :id, :name, class: "form-control" %>
          <%= v.submit 'Go' %>
        </p>
      <% end %>
    </div>
</div>

