<%= form_with model: @video do |v| %>
  <p class="form-group field">
    <%= v.label :places_id, 'Place', class: "control-label" %>
    <%= v.collection_select :places_id, @places, :id, :name, class: "form-control" %>
    <input type="button" id="place_select" value="select" />
  </p>
  
  <!-- Map -->
  <div id="map_for_video"></div>
  
  <p class="form-group field">
    <%= v.label :video_id, 'Youtube Video ID', class: "control-label" %>
    <%= v.text_field :video_id, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= v.label :latitude, 'Latitude', class: "control-label" %>
    <%= v.text_field :latitude, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= v.label :longitude, 'Latitude', class: "control-label" %>
    <%= v.text_field :longitude, class: "form-control" %>
  </p>
  <%= v.submit 'Add A Video To The Place' %>
<% end %>

<br>
<%= form_with url: videos_search_path, method: 'GET' do |v| %>
  <p class="form-group field">
    <%= v.label :keyword, 'Keyword', class: "control-label" %>
    <%= v.text_field :keyword, class: "form-control" %>
  </p>
  <%= v.submit 'Search' %>
<% end %>

<br>

<div id="video_list">
  　<div id="searched_list"></div>
</div>



<style type="text/css">
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map_for_video {
    width: 600px;
    height: 400px;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<script>
  　//地図
  let map;
  
  //Center
  let latlng;
  
    //マーカー
  let marker;

  // 地図初期化
  function initMap() {
    latlng = new google.maps.LatLng(34.7019399,135.51002519999997);
    map = new google.maps.Map(document.getElementById('map_for_video'), {
      center: latlng,
      zoom: 16,
    });
    
    // マーカー設定
    marker = new google.maps.Marker({
      position: latlng,
      map: map
    });
  }
  

  $("#place_select").click(function() {
		// const str1 = document.getElementById("video_places_id");
		document.getElementById('video_latitude').value=lat;
	});


</script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
