<%= form_with model: @video do |v| %>
  <p class="form-group field">
    <%= v.label :video_id, class: "control-label" %>
    <%= v.text_field :video_id, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= v.label :places_id, class: "control-label" %>
    <%= v.collection_select :places_id, @places, :id, :name, class: "form-control" %>
  </p>
  <%= v.submit %>
<% end %>