<button type="button" class="btn btn-primary">Place: <%= @place.name%></button>
  
  <!-- Map -->
  <div id="map_for_video"></div>

<%= form_with model: @video do |v| %>
    <%= v.hidden_field :places_id, :value => @place.id %> 

    <p class="form-group field">
    <%= v.label :video_id, 'Youtube Video ID', class: "control-label" %>
    <%= v.text_field :video_id, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= v.label :latitude, 'Latitude', class: "control-label" %>
    <%= v.text_field :latitude, value: @place.latitude, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= v.label :longitude, 'Latitude', class: "control-label" %>
    <%= v.text_field :longitude, value: @place.longitude, class: "form-control" %>
  </p>
  <%= v.submit 'Add A Video To The Place' %>
<% end %>

<br>
<%= form_with url: videos_search_path, method: 'GET' do |v| %>
  <p class="form-group field">
    <%= v.label :keyword, 'Keyword', class: "control-label" %>
    <%= v.text_field :keyword, class: "form-control" %>
  </p>
  <%= v.submit 'Search' %>
<% end %>

<br>

<div id="video_list">
  　<div id="searched_list"></div>
</div>



<style type="text/css">
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map_for_video {
    width: 600px;
    height: 400px;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<script>
  　//地図
  let map;
  
  //Center
  let latlng;
  
    //マーカー
  let marker;

  // 地図初期化
  function initMap() {

    latlng =  { lat: <%= @place.latitude%>, lng: <%= @place.longitude%> };
    console.log(latlng);
    
    map = new google.maps.Map(document.getElementById('map_for_video'), {
      center: latlng,
      zoom: 16,
    });
    
    // マーカー設定
    marker = new google.maps.Marker({
      position: latlng,
      map: map,
    });
    
    // マップをクリックで位置変更
    map.addListener('click', function(e) {
      console.log(e.latLng);
      getClickLatLng(e.latLng, map);

    });
  }
  
  function getClickLatLng(lat_lng, map) {
    //マーカーの緯度経度でUpdate
    document.getElementById('video_latitude').value=lat_lng.lat();
    document.getElementById('video_longitude').value=lat_lng.lng();

    // マーカーを設置
    marker.setMap(null);
    marker = new google.maps.Marker({
      position: lat_lng,
      map: map,
    });
    // 座標の中心をずらす
    map.panTo(lat_lng);
  }

</script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
