<form onsubmit="return false;">
  <input type="text" value="Times Square, NY" id="address">
  <button type="button" value="Search" id="map_button">Search</button>
</form>

<!-- 地図を表示させる要素 -->
<div class="map_box01"><div id="map-canvas" style="width: 100%;height: 350px;"></div></div>

 
<!-- API -->
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>"></script>

</br>

<%= form_with model: @place do |pl| %>
  <p class="form-group field">
    <%= pl.label :name, class: "control-label" %>
    <%= pl.text_field :name, class: "form-control", id: "name"  %>
  </p>
  <p class="form-group field">
    <%= pl.label :country, class: "control-label" %>
    <%= pl.text_field :country, class: "form-control", id: "country"   %>
  </p>
  <p class="form-group field">
    <%= pl.label :state, class: "control-label"%>
    <%= pl.text_field :state, class: "form-control", id: "state"   %>
  </p>
  <p class="form-group field">
    <%= pl.label :city, class: "control-label"%>
    <%= pl.text_field :city, class: "form-control", id: "city"   %>
  </p>
  <p class="form-group field">
    <%= pl.label :latitude, class: "control-label" %>
    <%= pl.text_field :latitude, class: "form-control", id: "latidude" %>
  </p>
  <p class="form-group field">
    <%= pl.label :longitude, class: "control-label" %>
    <%= pl.text_field :longitude, class: "form-control", id: "longitude" %>
  </p>
  <%= pl.submit %>
<% end %>

<script>
  var getMap = (function() {
    function codeAddress(address) {
      // geocoderのインスタンス
      var geocoder = new google.maps.Geocoder();
   
      // 地図オプション
      var mapOptions = {
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
   
      // 地図インスタンス
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
       
      //マーカー
      var marker;
    
      // geocoder.geocode()でPositionを緯度経度を取得
      geocoder.geocode({'address':  address, 'region':   'us'}, function(results, status) {
        // ジオコーディングが成功した場合
        if (status == google.maps.GeocoderStatus.OK) {
          // 変換した緯度・経度情報を地図の中心に表示
          map.setCenter(results[0].geometry.location);
          //表示している地図上の緯度経度
          document.getElementById('latidude').value=results[0].geometry.location.lat();
          document.getElementById('longitude').value=results[0].geometry.location.lng();
          //表示している地図上の住所
          document.getElementById('name').value=document.getElementById('address').value
          document.getElementById('city').value=results[0].formatted_address
          document.getElementById('state').value=results[0].formatted_address
          document.getElementById('country').value=results[0].formatted_address
          console.dir(results);
          // マーカー設定
          marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        // ジオコーディングが成功しなかった場合
        } else {
          console.log('Geocode was not successful for the following reason: ' + status);
        }
      });
       
      // マップをクリックで位置変更
      map.addListener('click', function(e) {
        getClickLatLng(e.latLng, map);
      });
      
      function getClickLatLng(lat_lng, map) {
        //マーカーの緯度経度でUpdate
        document.getElementById('latidude').value=lat_lng.lat();
        document.getElementById('longitude').value=lat_lng.lng();

        // マーカーを設置
        marker.setMap(null);
        marker = new google.maps.Marker({
          position: lat_lng,
          map: map
        });
        // 座標の中心をずらす
        map.panTo(lat_lng);
      }
     
    } //function codeAddress
     
    //inputのvalueで検索して地図を表示
    return {
      getAddress: function() { //getAddressを定義してReturn
        //Button id
        var button = document.getElementById("map_button");
         
        //onclick
        button.onclick = function() {
          // フォームに入力された住所情報を取得
          var address = document.getElementById("address").value;
          // 取得した住所を引数に指定してcodeAddress()関数を実行
          codeAddress(address); //ここでcodeAddressを呼び出し
        }
         
     //読み込まれたときに地図を表示
        window.onload = function(){
          // フォームに入力された住所情報を取得
          var address = document.getElementById("address").value;
          // 取得した住所を引数に指定してcodeAddress()関数を実行
          codeAddress(address);//ここでcodeAddressを呼び出し
        }
      }     
    }; //return
   
  })();
  getMap.getAddress();

  

      
</script>