<form onsubmit="return false;">
  <input type="text" value="Times Square, NY" id="address">
  <button type="button" value="Search" id="map_button">Search</button>
</form>

<!-- 地図を表示させる要素 -->
<div class="map_box01"><div id="map-canvas" style="width: 100%;height: 350px;"></div></div>
 
Latitude <input type="text" id="lat" value=""><br>
Longitude <input type="text" id="lng" value=""><br>
 
<!-- API -->
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>"></script>

</br>

<%= form_with model: @place do |pl| %>
  <p class="form-group field">
    <%= pl.label :name, class: "control-label" %>
    <%= pl.text_field :name, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= pl.label :country, class: "control-label" %>
    <%= pl.text_field :country, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= pl.label :state, class: "control-label" %>
    <%= pl.text_field :state, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= pl.label :city, class: "control-label" %>
    <%= pl.text_field :city, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= pl.label :latitude, class: "control-label" %>
    <%= pl.text_field :latitude, class: "form-control", id: "latidude" %>
  </p>
  <p class="form-group field">
    <%= pl.label :longitude, class: "control-label" %>
    <%= pl.text_field :longitude, class: "form-control", id: "longitude" %>
  </p>
  <%= pl.submit %>
<% end %>

<script>
  var getMap = (function() {
    function codeAddress(address) {
      // google.maps.Geocoder()コンストラクタのインスタンスを生成
      var geocoder = new google.maps.Geocoder();
   
      // 地図表示に関するオプション
      var mapOptions = {
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
   
      // 地図を表示させるインスタンスを生成
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
       
      //マーカー変数用意
      var marker;
       
      // geocoder.geocode()メソッドを実行 
      geocoder.geocode( { 'address': address}, function(results, status) {
         
        // ジオコーディングが成功した場合
        if (status == google.maps.GeocoderStatus.OK) {
           
          // 変換した緯度・経度情報を地図の中心に表示
          map.setCenter(results[0].geometry.location);
           
          //☆表示している地図上の緯度経度
          document.getElementById('latidude').value=results[0].geometry.location.lat();
          document.getElementById('longitude').value=results[0].geometry.location.lng();
           
          // マーカー設定
          marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
         
        // ジオコーディングが成功しなかった場合
        } else {
          console.log('Geocode was not successful for the following reason: ' + status);
        }
       
      });
       
      // マップをクリックで位置変更
      map.addListener('click', function(e) {
        getClickLatLng(e.latLng, map);
      });
      function getClickLatLng(lat_lng, map) {
         
        //☆表示している地図上の緯度経度
        document.getElementById('latidude').value=lat_lng.lat();
        document.getElementById('longitude').value=lat_lng.lng();
           
        // マーカーを設置
        marker.setMap(null);
        marker = new google.maps.Marker({
          position: lat_lng,
          map: map
        });
       
        // 座標の中心をずらす
        map.panTo(lat_lng);
      }
     
    }
     
    //inputのvalueで検索して地図を表示
    return {
      getAddress: function() {
        // ボタンに指定したid要素を取得
        var button = document.getElementById("map_button");
         
        // ボタンが押された時の処理
        button.onclick = function() {
          // フォームに入力された住所情報を取得
          var address = document.getElementById("address").value;
          // 取得した住所を引数に指定してcodeAddress()関数を実行
          codeAddress(address);
        }
         
        //読み込まれたときに地図を表示
        window.onload = function(){
          // フォームに入力された住所情報を取得
          var address = document.getElementById("address").value;
          // 取得した住所を引数に指定してcodeAddress()関数を実行
          codeAddress(address);
        }
      }
     
    };
   
  })();
  getMap.getAddress();
</script>