<%= form_with model: @place do |pl| %>
  <p class="form-group field">
    <%= pl.label :name, class: "control-label" %>
    <%= pl.text_field :name, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= pl.label :country, class: "control-label" %>
    <%= pl.text_field :country, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= pl.label :state, class: "control-label" %>
    <%= pl.text_field :state, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= pl.label :city, class: "control-label" %>
    <%= pl.text_field :city, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= pl.label :latitude, class: "control-label" %>
    <%= pl.text_field :latitude, class: "form-control" %>
  </p>
  <p class="form-group field">
    <%= pl.label :longitude, class: "control-label" %>
    <%= pl.text_field :longitude, class: "form-control" %>
  </p>
  <%= pl.submit %>
<% end %>