<!-- Top Video -->

<div class="top_video" id="top_video">
  <% if @videos.present? %>
    <%= video(video_id: @videos.first.video_id)  %>
  <% else %>
  <% end %>
</div>


<!-- Place Description -->
<button type="button" class="btn btn-primary">Place: <%= @place.name%></button>
<button type="button" class="btn btn-secondary">Country: <%= @place.country%></button>
<button type="button" class="btn btn-warning">State: <%= @place.state%></button>
<button type="button" class="btn btn-danger">City: <%= @place.city%></button>
<button type="button" class="btn btn-info">Latitude: <%= @place.latitude%></button>
<button type="button" class="btn btn-dark">Longitude: <%= @place.longitude%></button>

<!-- Map -->
<div id="map"></div>

<!-- Embed Videos -->
<div id="video_list">
  <% if @videos.present? %>
    <% @videos.each_with_index do|video,i| %>
      <div id="video_<%= i+1 %>">
        <%= video(video_id: video.video_id) %>
      </div>
    <% end %>
  <% else %>
  <% end %>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<style type="text/css">
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 50%;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<script>
  let map;
  let marker = [];
  let markerLatLng = [];
  let infoWindow = [];
  let latlng =  { lat: <%= @place.latitude%>, lng: <%= @place.longitude%> };
  
  <% p @place %>
  <% p @videos %>

    
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: latlng,
      zoom: 16,
    });
    
    <% @videos.each_with_index do |v,i| %>
      <% if v.latitude && v.longitude %>
      markerLatLng[<%= i%>] = new google.maps.LatLng({lat: <%= v.latitude %>, lng: <%= v.longitude %>});
      marker[<%= i%>] = new google.maps.Marker({ // マーカーの追加
        position: markerLatLng[<%= i%>], // マーカーを立てる位置を指定
        map: map // マーカーを立てる地図を指定
      });
      
      infoWindow[<%= i%>] = new google.maps.InfoWindow({ // 吹き出しの追加
          content: '<%= v.video_id %>' // 吹き出しに表示する内容
      });

      console.log(infoWindow[<%= i%>]) //設定はできている

      marker[<%= i%>].addListener('click', function() { // マーカーをクリックしたとき
       infoWindow[<%= i%>].open(map, marker[<%= i%>]); // 吹き出しの表示
       
       //top_videoの書き換え＋元要素のコピー
       $('#top_video').replaceWith($('#video_<%= i+1 %>'));
       $('#video_<%= i+1 %>').clone().appendTo('#video_list');
       $('#video_<%= i+1 %>').attr('id', 'top_video');
       
      });
      
      <% end %>
    <% end %>  
  }
</script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=&v=weekly" async></script>
