<!-- First Videos -->

<div id="top_video">
  <% if @videos.present? %>
    <%= video(video_id: @videos.first.video_id)  %>
  <% else %>
  <% end %>
</div>


<!-- Place Description -->
<button type="button" class="btn btn-primary">Place: <%= @place.name%></button>
<button type="button" class="btn btn-secondary">Country: <%= @place.country%></button>
<button type="button" class="btn btn-warning">State: <%= @place.state%></button>
<button type="button" class="btn btn-danger">City: <%= @place.city%></button>
<button type="button" class="btn btn-info">Latitude: <%= @place.latitude%></button>
<button type="button" class="btn btn-dark">Longitude: <%= @place.longitude%></button>

<!-- Map -->
<div id="map"></div>

<!-- Embed Videos -->
<div id="other_videos">
  <% if @videos.present? %>
    <% @videos.each_with_index do|video,i| %>
      <%= video(video_id: video.video_id) unless i == 0 %>
    <% end %>
  <% else %>
  <% end %>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<style type="text/css">
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 50%;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<script>
  let map;

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: <%= @place.latitude%>, lng: <%= @place.longitude%> },
      zoom: 16,
    });
  }
</script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=&v=weekly" async></script>
